%transition {
  transition: all .3s ease-in-out;
}

@keyframes move {
  0% {
    transform: translateY(0) translateX(0);
  }
  
  100% {
    transform: translateY(1000%) translateX(-10000%);
  }
}

@keyframes rainbow {
  0% {
    box-shadow: 0 0 0 10px #e53935, 0 0 0 20px #FB8C00, 0 0 0 30px #FFEB3B;
  }
  
  50% {
    box-shadow: 0 0 0 20px #e53935, 0 0 0 30px #FB8C00, 0 0 0 40px #FFEB3B;
  }
  
  100% {
    box-shadow: 0 0 10px 30px #e53935, 0 0 10px 40px #FB8C00, 0 0 10px 50px #FFEB3B;
  }
}

@keyframes expand {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  
  100% {
    transform: scale(1.05);
    opacity: 0.4;
  }
}